.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #FFFFFF;
}

.header__link {
    
}

.header__logo {
    
}

.form {
    
}

.form__label {
    position: relative;
}

.form__lupa {
    position: absolute;
    left: 16px;
    top: 30%;
    cursor: pointer;
}

.container2--fixed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.form__input {
    width: 670px;
    height: 48px;
    padding: 16px;
    padding-left: 50px;
    background-color: #F8FAFD;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    // color: rgba(0, 0, 0, 0.24);
    border: none;
}

.container-fixed {
    padding: 0;
}

.header__footer {
    padding-top: 11px;
    padding-bottom: 11px;
    background: #FFFFFF;
}

.header__btn {
    background-image: url(../../images/quyosh.svg);
    background-size: contain;
    border: none;
    outline: none;
    width: 23px;
    height: 23px;
    cursor: pointer;
    background-color: transparent;
}

.order {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order__heading {
}

.order__btn {
    cursor: pointer;
    background-color: #A6B0C3;
    border-radius: 4px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
    outline: none;
    position: relative;
    padding: 9px 13px 8px 42px;
    
    &::before {
        content: "";
        background-image: url(../../images/calendar1.svg);
        display: block;
        width: 24px;
        height: 24px;
        position: absolute;
        left: 16px;
        top: 10%;
    }
}


    
.body--dark {
    background-color: #333;
    .header__btn {
        background-image: url(../../images/moon.png);
    }

    .header {
        background-color: #333;
    }

    .div__right {
        background-color: #333;
    }

    .header__footer {
        background-color: #333;
        border-radius: 5px;
    }

    .order__heading {
        color: #FFFFFF;
    }
}
